* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container-centered {

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

/* navbar */
nav {
    background-color: #255ee9;
    color: white;
}

.nav-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100%;
}


.link {
    display: flex;
    align-items: stretch;
}

ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.login {
    display: flex;
    align-items: center;
}

.btn {
    padding: 1em;
    border-radius: 50px;
    border-color: transparent;
}

.btn-login {
    background-color: white;
    color: black;
}

/*navbar */

/* header */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: bottom;

    color: white;

}
.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 400px;
    max-width: 600px;

    padding: 40px 0;

    text-align: center;

    gap: 1em;
}

header h1 {
    margin-bottom: 0.5em;
}


.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.btn-uno {
    background-color: white;
    color: black;
}

.btn-due {
    background-color: black;
    color: white;
}
/* header */


/* fin qui tutto corretto */

.disc-section {
    display: flex;
    flex-direction: column;
    /* cambiare max height  */
    /* test */
}

.top-section {
    background-color: #2f62e7; 
    /* questa è la background image */
    /* test */
}





main {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

}

.img {
    width: 50%;
    height: 300px;
    background-color: green;
    /* misure provvisorie */

}

.title {
    width: 50%;
    height: 150px;
    background-color: black;
    /* misure provvisorie */

}

.paragraph {
    width: 50%;
    height: 150px;
    background-color: orange; 
    /* misure provvisorie */

}

.first-section {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    /* misure provvisorie */
}

.second-section {
    height: 300px;

    display: flex;
    flex-wrap: wrap-reverse;
    /* misure provvisorie */

}

.third-section {
    height: 300px;

    display: flex;
    flex-wrap: wrap;

    /* misure provvisorie */

}

.fourth-section {
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* misure provvisorie */
    /* aggiustare misure */

}